lab_1/array_pointer_iteration
lab_1/dynamic_2d_array
.DS_Store
lab_1/swap_with_pointers
lab_1/max_element_pointer
lab_1/reverse_array_pointer
lab_1/substring_search_pointers
lab_1/string_copy_pointers
lab_1/сount_spaces_pointers
lab_1/sort_array_function_pointer
lab_2/struct_func_pointer
lab_2/vector3d_struct 
lab_2/complex_exponent
lab_2/date_bitfields
lab_2/doubly_linked_list
lab_3/union_pointer 
lab_3/print_bytes_union
lab_3/enum_weekdays
lab_3/tagged_union_struct   
lab_3/students_union
lab_3/system_state_enum



